body{
    background-color: #f0f0f2;
	font-size: 17px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
div{
    width: 600px;
	margin: 5em auto;
	padding: 2em;
	background-color: #fdfdff;
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px rgb(0,0,0,0/2%);
    }
        a{
            text-decoration: none;
		 }
