body{
    margin: 0;
    padding: 0;
    font-family: Myrial pro,Arial,sans-serif;
    font-weight: 400px;
    box-sizing: border-box;
     
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: lavender;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.c1,.c2,.c3{
    width: 5px;
    height: 5px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
}
.c1{
    background-color: red;
}
.c2{
    background-color: yellow;
}
.c3{
     background-color:green;
}
.container{
  height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.left {
    background-color: #1f262d;
    height: 100%;
    width: 60%;
    border-bottom-left-radius: 5px;
}
.logo img{
    display: inline-block;
    margin: 60px 50px;
}
.cont1{
    display: flex;
    flex-direction: column;
    margin:20%,10%,0%,30%;
}
h1,h3{
    text-indent: 48px;
    margin: 15px;
}
h1{
    display: block;
    font-size: 30px;
    margin: 0;
    line-height: 1.25;
    padding-top: 60px;
    color: white;
}
h3{
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    line-height: 1.25;
    color:  #6b6e74;
}
p{
    padding-top: 20px;
    color: #6b6e74;
    font-size: 15px;
}
button{
    color: white;
    width: 150px;
    margin: 5px 5px;
    position: relative;
    display: inline-block;
    padding: 11px;
    font-size: 12px;
    letter-spacing: .1em;
    text-align: center;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    background-color: #0aa675;
}
.nav{
    font-size: 9px;
    margin-top: 100px;
    letter-spacing: 2px;
    text-shadow: 4px;
    color:  #6b6e74;
    cursor: pointer;
}
.n2,.n2,.n3{
    padding-left: 15px;
}
.right{
    background-color: #0aa675;
    height: 100%;
    width: 40%;
    border-bottom-left-radius: 5px;
}
.cont2{
    margin: 100px;
    padding-top: 100px;
    display: ;
}
h2{
    letter-spacing: 1px;
    color: whitesmoke;
    margin: 10px;
}
.form{
    position: relative;
    margin: 10px;
}
.form input{
    font-size: 12px;
    padding-top: 10px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    outline: none;
    background: none;
    padding: 5px;
    height: 38px;
    color: ghostwhite;
}
::placeholder{
    color: whitesmoke;
}
.button-primary{
    color: #0aa675;
    border: none;
    padding-left: 5PX;
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: white;
  }




